<footer>
    <div class="container-fluid mt-4">
        <div class="card">
            <div class="card-header">
                Centre of Quality Assurence, Policy and Academic Excellence (QAPEX)
            </div>
            <div class="card-body">
                <h5 class="card-title">HUBUNGI QAPEX</h5>
                <p class="card-text">Pusat Jaminan Kualiti, Dasar dan Kecemerlangan Akademik (QAPEX)
                    Aras 2, Fakulti Kepimpinan dan Pengurusan Universiti Sains Islam Malaysia
                    Bandar Baru Nilai, 71800, Negeri Sembilan</p>
                <p>info.qapex@usim.edu.my</p>
            </div>
        </div>
        Hak Cipta © 2018 USIM | Hak Cipta Terpelihara.
    </div>
</footer>

</html>