<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/67377a5c00.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900|Ubuntu&display=swap" rel="stylesheet" />
    <title><%= title %></title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="page-wrapper">

            <a href="/"><img src="http://qapex.usim.edu.my/wp-content/uploads/2018/04/HEADER-PJKDKA.png" alt="logo"></a>

            <nav class="navbar navbar-expand-lg navbar-light bg-light  mb-4">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Publication</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin-activity">Activity & Training</a>
                        </li>
                    </ul>
                </div>
            </nav>