<% include partials/header.ejs %>
<div class="jumbotron" style="margin-top: 3%">
    <h1 class="display-3" style="font-weight:5%;">Naqli and Aqli Integration Division
    </h1>
    <p class="lead">Strengthen the multidisciplinary iNaQ agenda through four focus areas: Shariah Maqasid, Islamic
        science philosophy, science / science history and Islamic Epistemology</p>
    <hr class="my-4">
    <p>Develop Qalb-based leadership training modules for regional reference
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://qapex.usim.edu.my/info-bahagian-integrasi-ilmu-naqli-dan-aqli/"
            role="button">Learn more</a>
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-1">
            <div class="card border-dark mb-3" style="max-width: 35rem;">
                <div class="card-header font-weight-bold">Publication</div>
                <div class="card-body">

                    <p class="card-text">Collection of Book, Research Paper, Journal and Conference related To iNaQ.The
                        content of the publication below is from various sources</p>
                    <br>
                    <a href="/publication"><button type="button" class="btn btn-success disabled">Learn
                            more</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-1">
            <div class="card border-dark mb-3" style="max-width: 35rem;">
                <div class="card-header font-weight-bold">Training & Activity</div>
                <div class="card-body">

                    <p class="card-text">The Center for Quality Assurance, Policy and Academic Excellence is committed
                        in providing understanding to all USIM members and the public about Naqli & Aqli
                        Knowledge Integration (iNaQ).
                    </p>
                    <br>
                    <a href="/activity"><button type="button" class="btn btn-info disabled">Learn more</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
<% include partials/footer.ejs %>